@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body{
    background-color:floralwhite;
    color: #452A37;
}

.modal-content{
    border-radius: 0px !important;
}

.modal-header{
    background-color:#87CBE2 !important;
}

.form-item{
    margin-top:5px;
    margin-bottom:5px;
}

.entry{
    margin-left:5px;
    margin-right:5px;
    font-family: 'Slabo 27px', serif;
    font-size:x-large;
}

#blogArea{
    padding:5px;
    margin-top:100px;
    margin-left: 150px;
    margin-right: 150px;
} 

h2{
    color:#E05576;
}

h1{
    color:#E05576;
}

h3{
    color:#E05576!important;
}

.header{
    position:fixed;
    height:80px;
    top:0px;
    width:100%;
    background-image: -webkit-linear-gradient(top, #703951,#E05576);
}

.header > h1{
    color:white !important;
} 

.heading{
    text-align: center;
} 

.descrip{ 
    font-size: large; 
    color: black;
}

.main-container{
    margin-left:100px;
    margin-right:100px; 
    margin-top:10px;
} 

.packages{
    clear:both;
}

.pack-container{
    /* background-image: -webkit-linear-gradient(top, #FFE4AA, #E2869B); */
    background-color:rgba(255,255,255,0.8);
    max-width: 300px; 
    min-width: 300px; 
    border-radius: 5px;
    margin:15px;
    
    float:left;
    height: 400px;
} 

.pack-container-heading{
    text-align: center; 
    background-color:#583B7E;
    font-size: x-large;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    padding-top:7px;
    padding-bottom:7px; 

}

.pack-container-descrip{
    font-size: 14;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    margin-bottom:5px;
    text-align: left; 
    text-justify: inter-word;
}

.pack-container-nav{
    text-align: center; 
    margin-left:10px; 
    margin-right:10px;
    bottom:0px;
    
}

.pack-container-price{
    text-align: center;
    font-size: xx-large;
}

.scape{
    margin:15px;
    clear:both;
}

.scape-section{
    float:left;
    padding:6px;
    margin:2px; 
    border-radius: 2px; 
    background-color: #FCA699;
    color: white;
    margin-bottom:10px;
} 

.scape-text{
    clear:both;
    margin-left:15px;
    height: 150px;
    background-color:white;
    margin-bottom:10px; 
    background-color:rgba(255,255,255,0.3);
    border-radius: 5px;
    padding:10px;
    animation-name: animate-display; 
    animation-duration: 1s;
} 

@media screen and (max-width: 500px){
    .main-container{
        margin-left:0px;
        margin-right:0px; 
        margin-top:10px;
    } 

    .pack-container{
        background-color:rgba(255,255,255,0.8); 
        border-radius: 5px;

        max-width: initial;
        min-width: initial;

        margin:5px;
        margin-top:20px;
    
        float:none;
        height: 400px;


    } 

    .scape-text{
        clear:both;
        margin-left:5px;
        margin-right:5px;
        height: 150px;
        background-color:white;
        margin-bottom:10px; 
        background-color:rgba(255,255,255,0.3);
        border-radius: 5px;
        padding:10px;
        animation-name: animate-display; 
        animation-duration: 1s;
    }

    .header > h1{
        color:white !important;
        font-size:x-large;
    }  

    #blogArea{
    
        padding:5px;
        margin-top:100px;
        margin-right: initial;
        margin-left: initial;
    
    } 


}